<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="openCreate()">
      <ion-icon icon="add-outline" slot="icon-only">
      </ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    placeholder="Buscar cliente"
    [debounce]="300"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>
  @if (users) {
    <ion-list #userList>
      @for (user of users; track user.uid) {
        <ion-item-sliding>
          <ion-item lines="full">
            <ion-avatar slot="start">
              <ion-img
                [src]="user.photoURL || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541'"
                [alt]="'Avatar de ' + user.displayName">
              </ion-img>
            </ion-avatar>

            <ion-grid class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <ion-text>
                    <h3 class="ion-no-margin">{{ user.displayName }}</h3>
                  </ion-text>
                  <ion-text color="medium">
                    <p class="ion-no-margin">{{ user.email }}</p>
                  </ion-text>
                </ion-col>
                <ion-col size="auto" class="ion-text-end">
                  <ion-chip [color]="user.state === activeState ? 'success' : 'danger'">
                    {{ user.state | state }}
                  </ion-chip>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item-options>
            <ion-item-option color="warning">
              <ion-icon name="pencil-outline" slot="icon-only" (click)="openEdit(user)"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="openDelete(user)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      }
    </ion-list>
  }
  <app-create-user
    [isOpen]="isCreating"
    (isOpenChange)="closeCreate()"
  ></app-create-user>
  <app-modify-user
    [isOpen]="isEditing"
    [user]="selectedUser"
    (isOpenChange)="closeEdit()"
  ></app-modify-user>
  <app-delete-user
    [isOpen]="isDeleting"
    [user]="selectedUser"
    (isOpenChange)="closeDelete()"
  ></app-delete-user>
</ion-content>
