<main class="login-container">
  <ion-img src="assets/images/TuHoraFitLogoWhite.svg" alt="Imagen de fondo pantalla inicial"></ion-img>
  <div>
    <ion-button color="primary" id="open-modal" expand="block">
      Iniciar
    </ion-button>
    <div class="ion-text-center ion-padding-top register-text">
      ¿No tienes una cuenta? <a routerLink="/auth/register" class="register-link">Registrate</a>
    </div>
  </div>
</main>

<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.3" [breakpoints]="[0, 0.3, 0.6, 1]">
  <ng-template>
    <ion-content class="ion-padding">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-list lines="full">
          <ion-item>
            <ion-input label="Correo electrónico" labelPlacement="floating" formControlName="email" type="email"
              autocomplete="email" placeholder="Ingresa tu correo"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            <small class="ion-padding-start">Correo inválido</small>
          </ion-text>

          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" formControlName="password" type="password"
              autocomplete="current-password" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
            <small class="ion-padding-start">Contraseña requerida</small>
          </ion-text>
        </ion-list>

        <div class="ion-padding-top">
          <ion-button color="primary" expand="block" type="submit" [disabled]="form.invalid">
            Iniciar sesión
          </ion-button>
        </div>
        <div class="ion-text-center ion-padding-top">
          <a routerLink="/auth/forgot-password" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>