<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Horario</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleOpen()">
            <ion-icon icon="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-select formControlName="class_id" label="Clase" labelPlacement="floating">
              <ion-select-option *ngFor="let cls of classes" [value]="cls.id">{{ cls.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-select formControlName="employee_id" label="Instructor" labelPlacement="floating">
              <ion-select-option *ngFor="let emp of employees" [value]="emp.id">{{ emp.name }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input formControlName="date" type="date" label="Fecha" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="start_time" type="time" label="Hora inicio" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="end_time" type="time" label="Hora fin" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="max_capacity" type="number" label="Capacidad" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select formControlName="recurrence" label="Recurrencia" labelPlacement="floating">
              <ion-select-option [value]="recurrences.ONCE">Una vez</ion-select-option>
              <ion-select-option [value]="recurrences.DAILY">Diaria</ion-select-option>
              <ion-select-option [value]="recurrences.WEEKLY">Semanal</ion-select-option>
              <ion-select-option [value]="recurrences.MONTHLY">Mensual</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="formGroup.get('recurrence')?.value !== recurrences.ONCE">
            <ion-input formControlName="end_recurrence" type="date" label="Fin de recurrencia" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" type="submit" [disabled]="formGroup.invalid">Guardar Cambios</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
