<ion-content class="container">
  <!-- Logo en la parte superior -->
  <div class="header-image">
    <ion-img src="assets/images/TuHoraFitLogoWhite.svg" alt="Imagen de fondo pantalla inicial"></ion-img>
  </div>

  <!-- Card del formulario de recuperación -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">¿Has olvidado tu contraseña?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="instruction-text">
        Para garantizar que tu cuenta es segura, siempre que cambies tu contraseña cerraremos las sesiones que tengas abiertas en cualquier otro dispositivo.
        Puedes iniciar sesión nuevamente con tu nueva contraseña.
      </p>

      <form [formGroup]="form" (ngSubmit)="enviarRecuperacion()">
        <ion-list lines="full">
          <ion-item>
            <ion-input label="Correo Electrónico" labelPlacement="floating" formControlName="email" type="email"
              required placeholder="Ingresa tu correo"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding-top">
          <ion-button color="green" expand="block" type="submit" [disabled]="form.invalid">
            Enviar enlace
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
