  <div class="header-image">
    <ion-img src="assets/images/TuHoraFitLogoWhite.svg" alt="Imagen de fondo pantalla inicial"></ion-img>
  </div>

  <!-- Card del formulario de recuperación -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">¿Has olvidado tu contraseña?</ion-card-title>
    </ion-card-header>

    <ion-card-content [scrollTop]="true">
      <ion-text>
        Para garantizar que tu cuenta es segura, siempre que cambies tu contraseña cerraremos las sesiones que tengas abiertas en cualquier otro dispositivo.
        Puedes iniciar sesión nuevamente con tu nueva contraseña.
      </ion-text>
      <form [formGroup]="form" (ngSubmit)="enviarRecuperacion()">
        <ion-list lines="none">
          <ion-item>
            <ion-input label="Correo Electrónico" labelPlacement="floating" formControlName="email" type="email"
              required placeholder="Ingresa tu correo"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            <small class="ion-padding-start">Correo inválido</small>
          </ion-text>
        </ion-list>

          <ion-button color="primary" expand="block" type="submit" [disabled]="form.invalid">
            Enviar enlace
          </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
