ion-content {
  --background: url("/assets/background.jpg") no-repeat center center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.header-image {
  width: 10rem;
  margin: 0 auto;
}

// Contenedor principal centrado
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 350px;
  gap: 20px;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #222;
}

// 📌 Texto explicativo
.instruction-text {
  font-size: 14px;
  color: #444;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 10px;
}

