<ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Crear Plan</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleOpen()">
            <ion-icon icon="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
        <ion-list lines="none">
          <!-- Nombre -->
          <ion-item>
            <ion-input label="Nombre" labelPlacement="floating" formControlName="name" type="text" placeholder="Nombre del plan"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="planForm.get('name')?.touched && planForm.get('name')?.invalid">
            <small class="ion-padding-start">Nombre requerido</small>
          </ion-text>

          <!-- Duración -->
          <ion-item>
            <ion-input label="Duración (días)" labelPlacement="floating" formControlName="duration" type="number" placeholder="Ej: 30"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="planForm.get('duration')?.touched && planForm.get('duration')?.invalid">
            <small class="ion-padding-start">Duración requerida</small>
          </ion-text>

          <!-- Precio -->
          <ion-item>
            <ion-input label="Precio" labelPlacement="floating" formControlName="price" type="number" placeholder="Ej: 50000"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="planForm.get('price')?.touched && planForm.get('price')?.invalid">
            <small class="ion-padding-start">Precio requerido</small>
          </ion-text>

          <!-- Descripción -->
          <ion-item>
            <ion-input label="Descripción" labelPlacement="floating" formControlName="description" type="text" placeholder="Descripción del plan"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="planForm.get('description')?.touched && planForm.get('description')?.invalid">
            <small class="ion-padding-start">Descripción requerida</small>
          </ion-text>

          <!-- Estado -->
          <ion-item>
            <ion-select label="Estado" labelPlacement="floating" formControlName="state" cancelText="Cancelar" okText="Confirmar">
              <ion-select-option [value]="StateEnum.ACTIVE">Activo</ion-select-option>
              <ion-select-option [value]="StateEnum.INACTIVE">Inactivo</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text color="danger" *ngIf="planForm.get('state')?.touched && planForm.get('state')?.invalid">
            <small class="ion-padding-start">Estado requerido</small>
          </ion-text>
        </ion-list>

        <ion-button expand="block" type="submit" color="primary" [disabled]="planForm.invalid">
          Guardar
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
